@inherits BaseFaemiyahComponent
@page "/"
@using Faemiyah.BtDamageResolver.Api.ClientInterface.Compression;
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Api.ClientInterface.Events
@using Faemiyah.BtDamageResolver.Api.Entities.RepositoryEntities
@using Faemiyah.BtDamageResolver.Api.Options
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Communication
@using Microsoft.AspNetCore.SignalR.Client
@inject CommonData _commonData
@inject DataHelper _dataHelper
@inject LocalStorage _localStorage
@inject NavigationManager _navigationManager
@inject ResolverCommunicator _resolverCommunicator
@inject UserStateController _userStateController
@implements IDisposable

<div class="resolver_div_errormessage">
    <verbatim>
        @_errorMessage
    </verbatim>
</div>

<div style="@VisualStyleController.HideElement(_userStateController.IsConnectedToGame)">
    <FormServer @key="_userStateController.PlayerName" @ref="_formServer"></FormServer>
</div>

<ContainerTabSelector Enabled="@_userStateController.IsConnectedToGame" SelectedTab="@_selectedTab" TabNames="@_tabs" OnTabSelected="@SelectTab">
    <div class="resolver_div_tab resolver_style_alignright">
        <button @onclick="@LeaveGame" class="resolver_button_leave">X</button>
    </div>
</ContainerTabSelector>

<ContainerTab Enabled="_userStateController.IsConnectedToGame" TabIdentity="Data" TabSelection="@_selectedTab">
    <FormData />
</ContainerTab>

<ContainerTab Enabled="_userStateController.IsConnectedToGame" TabIdentity="Dashboard" TabSelection="@_selectedTab">
    <FormGameState @key=@($"{_userStateController.PlayerState != null}") />
</ContainerTab>

<ContainerTab Enabled="_userStateController.IsConnectedToGame" TabIdentity="AllUnits" TabSelection="@_selectedTab">
    <ComponentGameState @key=@($"{_userStateController.PlayerName}_{_userStateController.GameState?.TimeStamp}") DisplayOwnUnits="true" />
</ContainerTab>

<ContainerTab Enabled="_userStateController.IsConnectedToGame" TabIdentity="DamageReports" TabSelection="@_selectedTab">
    <FormDamageReports OnlyNewest="false" />
</ContainerTab>

<ContainerTab Enabled="_userStateController.IsConnectedToGame" TabIdentity="Options" TabSelection="@_selectedTab">
    <FormOptions @key=@($"{_userStateController.PlayerName}_{_userStateController.PlayerOptions?.TimeStamp}_{_userStateController.GameOptions?.TimeStamp}") />
</ContainerTab>

@code
{
    //@key=@($"{_userStateController.PlayerName}_{_userStateController.GameState?.TimeStamp}")
    private FormServer _formServer;
    private readonly List<string> _tabs = new() { "Data", "Dashboard", "AllUnits", "DamageReports", "Options" };
    private string _selectedTab = "Dashboard";
    private string _errorMessage;
    private HubConnection _hubConnection;

    protected override void OnInitialized()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithAutomaticReconnect()
            .WithUrl(_navigationManager.ToAbsoluteUri("/ClientHub"))
            .Build();

        _hubConnection.On<byte[]>(EventNames.ConnectionResponse, async (connectionResponseData) =>
        {
            var connectionResponse = _dataHelper.Unpack<ConnectionResponse>(connectionResponseData);

            // If we have disconnected from a game, clear the game state, damage reports
            // and game options to make sure user state agrees with server and visuals.
            if (connectionResponse.GameId == null)
            {
                _userStateController.GameState = null;
                _userStateController.GameOptions = null;
                _userStateController.DamageReportCollection.Clear();
                _userStateController.NotifyDamageReportsChanged();
            }

            if (connectionResponse.IsConnected)
            {
                _resolverCommunicator.SetAuthenticationToken(connectionResponse.AuthenticationToken);
                _userStateController.IsConnectedToServer = true;
                _userStateController.PlayerName = connectionResponse.PlayerId;
                await _localStorage.SetUserCredentials(new Credentials { Name = connectionResponse.PlayerId, AuthenticationToken = connectionResponse.AuthenticationToken });
            }
            else
            {
                _resolverCommunicator.SetAuthenticationToken(Guid.Empty);
                _userStateController.IsConnectedToServer = false;
                _userStateController.GameState = null;
                _userStateController.PlayerName = null;
                _userStateController.PlayerOptions = null;
                await _localStorage.RemoveUserCredentials();
            }

            InvokeStateChange();
        });

        _hubConnection.On<byte[]>(EventNames.DamageReports, damageReportData =>
        {
            var data = _dataHelper.Unpack<List<DamageReport>>(damageReportData);
            _userStateController.DamageReportCollection.AddRange(data);
            _userStateController.NotifyDamageReportsChanged();
        });

        _hubConnection.On<byte[]>(EventNames.ErrorMessage, errorMessage =>
        {
            _errorMessage = _dataHelper.Unpack<string>(errorMessage);
            InvokeStateChange();
        });

        _hubConnection.On<byte[]>(EventNames.GameEntries, gameEntries =>
        {
            _userStateController.GameEntries = _dataHelper.Unpack<List<GameEntry>>(gameEntries).ToDictionary(g => g.GetId(), g => g);
            InvokeStateChange();
        });

        _hubConnection.On<byte[]>(EventNames.GameOptions, gameOptionsData =>
        {
            _userStateController.GameOptions = _dataHelper.Unpack<GameOptions>(gameOptionsData);
            InvokeStateChange();
        });

        _hubConnection.On<byte[]>(EventNames.GameState, gameStateData =>
        {
            _userStateController.GameState = _dataHelper.Unpack<GameState>(gameStateData);
            InvokeStateChange();
        });

        _hubConnection.On<byte[]>(EventNames.PlayerOptions, playerOptionsData =>
        {
            _userStateController.PlayerOptions = _dataHelper.Unpack<PlayerOptions>(playerOptionsData);
            InvokeStateChange();
        });

        _hubConnection.On<byte[]>(EventNames.TargetNumbers, targetNumberUpdateData =>
        {
            _userStateController.RecordTargetNumberUpdates(_dataHelper.Unpack<List<TargetNumberUpdate>>(targetNumberUpdateData));
            // Not necessary to invoke state change on target number data
        });

        _userStateController.OnPlayerStateUpdated += SendPlayerState;
        _userStateController.OnGameOptionsUpdated += SendGameOptions;
        _userStateController.OnPlayerOptionsUpdated += SendPlayerOptions;
        _userStateController.OnDamageInstanceRequested += SendDamageInstance;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _resolverCommunicator.SetHubConnection(_hubConnection);
            await _hubConnection.StartAsync();

            var (credentialsFound, credentials) = await _localStorage.GetUserCredentials();

            if (credentialsFound)
            {
                _formServer.Connect(credentials);
            }
        }
    }

    private void SendDamageInstance()
    {
        _resolverCommunicator.SendDamageInstance(_userStateController.DamageInstance);
    }

    private void SendPlayerState()
    {
        _resolverCommunicator.SendPlayerState(_userStateController.PlayerState);
    }

    private void SendGameOptions()
    {
        _resolverCommunicator.SendGameOptions(_userStateController.GameOptions);
    }

    private void SendPlayerOptions()
    {
        _resolverCommunicator.SendPlayerOptions(_userStateController.PlayerOptions);
    }

    private void SelectTab(string input)
    {
        _selectedTab = input;
    }

    private void LeaveGame()
    {
        _formServer.LeaveGame();
    }

    public void Dispose()
    {
        _userStateController.OnPlayerStateUpdated -= SendPlayerState;
        _userStateController.OnGameOptionsUpdated -= SendGameOptions;
        _userStateController.OnPlayerOptionsUpdated -= SendPlayerOptions;
        _userStateController.OnDamageInstanceRequested -= SendDamageInstance;
        _hubConnection?.DisposeAsync();
    }
}
