@page "/"
@inject CommonData _commonData
@inject LocalStorage _localStorage
@inject NavigationManager _navigationManager
@inject ResolverCommunicator _resolverCommunicator
@inject UserStateController _userStateController
@inject VisualStyleController _visualStyleController
@using Microsoft.AspNetCore.SignalR.Client
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Communication
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Enums
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Api.Options
@using Faemiyah.BtDamageResolver.Api.ClientInterface.Events
@implements IDisposable

<div class="resolver_div_errormessage">
    <verbatim>
        @_errorMessage
    </verbatim>
</div>

<div style="@VisualStyleController.HideElement(_userStateController.ConnectedToGame)">
    <FormServer @ref="_formServer"></FormServer>
</div>


<div class="resolver_div_tabcontainer" style="@VisualStyleController.HideElement(!_userStateController.ConnectedToGame)">
    <div class="resolver_div_tab">
        <button class="@_visualStyleController.GetActiveClass(_selectedTab == ResolverTab.Data)" @onclick="@(e => SelectTab(ResolverTab.Data))">Data</button>
        <button class="@_visualStyleController.GetActiveClass(_selectedTab == ResolverTab.Dashboard)" @onclick="@(e => SelectTab(ResolverTab.Dashboard))">Dashboard</button>
        <button class="@_visualStyleController.GetActiveClass(_selectedTab == ResolverTab.AllUnits)" @onclick="@(e => SelectTab(ResolverTab.AllUnits))">All units</button>
        <button class="@_visualStyleController.GetActiveClass(_selectedTab == ResolverTab.DamageReports)" @onclick="@(e => SelectTab(ResolverTab.DamageReports))">DamageReports</button>
        <button class="@_visualStyleController.GetActiveClass(_selectedTab == ResolverTab.Options)" @onclick="@(e => SelectTab(ResolverTab.Options))">Options</button>
    </div>
    <div class="resolver_div_tab resolver_div_alignright">
        <button @onclick="@LeaveGame" class="resolver_button_leave">X</button>
    </div>
</div>

<div class="resolver_div_tabcontent" style="@VisualStyleController.HideElement(_selectedTab != ResolverTab.Data || !_userStateController.ConnectedToGame)">
    <FormData></FormData>
</div>

<div class="resolver_div_tabcontent" style="@VisualStyleController.HideElement(_selectedTab != ResolverTab.Dashboard || !_userStateController.ConnectedToGame)">
    @if (_userStateController.PlayerName != null && _userStateController.GameState != null)
    {
<FormGameState></FormGameState>}
</div>

<div class="resolver_div_tabcontent" style="@VisualStyleController.HideElement(_selectedTab != ResolverTab.AllUnits || !_userStateController.ConnectedToGame)">
    @if (_userStateController.PlayerName != null && _userStateController.GameState != null)
    {
<ComponentGameState DisplayOwnUnits="true"></ComponentGameState>}
</div>

<div class="resolver_div_tabcontent" style="@VisualStyleController.HideElement(_selectedTab != ResolverTab.DamageReports || !_userStateController.ConnectedToGame)">
    @if (_userStateController.PlayerName != null && _userStateController.GameState != null)
    {
<FormDamageReports OnlyNewest="false"></FormDamageReports>}
</div>

<div class="resolver_div_tabcontent" style="@VisualStyleController.HideElement(_selectedTab != ResolverTab.Options || !_userStateController.ConnectedToGame)">
    @if (_userStateController.GameOptions != null && _userStateController.PlayerOptions != null)
    {
<FormOptions @key=@_userStateController.GameOptions.TimeStamp></FormOptions>}
</div>

@code
{ private FormServer _formServer;
    private ResolverTab _selectedTab = ResolverTab.Dashboard;
    private string _errorMessage;
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithAutomaticReconnect()
            .WithUrl(_navigationManager.ToAbsoluteUri("/ClientHub"))
            .Build();

        _hubConnection.On<ConnectionResponse>(EventNames.ConnectionResponse, connectionResponseData =>
        {
            if (connectionResponseData.IsConnected)
            {
                _userStateController.ConnectedToServer = true;
                _userStateController.PlayerName = connectionResponseData.PlayerId;
                _localStorage.SetUserCredentials(new Credentials { Name = connectionResponseData.PlayerId, Password = connectionResponseData.PlayerPassword }).Wait();
                _resolverCommunicator.GetPlayerOptions().Wait();
            }
            else
            {
                _userStateController.ConnectedToServer = false;
                _userStateController.GameOptions = null;
                _userStateController.GameState = null;
                _userStateController.PlayerName = null;
                _userStateController.PlayerOptions = null;
                _userStateController.DamageReportCollection.Clear();
                _localStorage.RemoveUserCredentials().Wait();
            }
        });

        _hubConnection.On<List<DamageReport>>(EventNames.DamageReports, damageReportData =>
        {
            _userStateController.AddDamageReports(damageReportData);
        });

        _hubConnection.On<string>(EventNames.ErrorMessage, errorMessage =>
        {
            _errorMessage = errorMessage;
            StateHasChanged();
        });

        _hubConnection.On<GameOptions>(EventNames.GameOptions, gameOptionsData =>
        {
            _userStateController.GameOptions = gameOptionsData;
            StateHasChanged();
        });

        _hubConnection.On<GameState>(EventNames.GameState, gameStateData =>
        {
            _userStateController.GameState = gameStateData;
            StateHasChanged();
        });

        _hubConnection.On<PlayerOptions>(EventNames.PlayerOptions, playerOptionsData =>
        {
            _userStateController.PlayerOptions = playerOptionsData;
            StateHasChanged();
        });

        _hubConnection.On<List<TargetNumberUpdate>>(EventNames.TargetNumbers, targetNumberUpdateData =>
        {
            _userStateController.RecordTargetNumberUpdates(targetNumberUpdateData);
        });

        await _hubConnection.StartAsync();

        _resolverCommunicator.SetHubConnection(_hubConnection);

        _userStateController.OnDataUpdated += UpdatePlayerState;
        _userStateController.OnGameOptionsUpdated += UpdateGameOptions;
        _userStateController.OnPlayerOptionsUpdated += UpdatePlayerOptions;
        _userStateController.OnDamageRequestRequested += SendDamageRequest;

        await base.OnInitializedAsync();
    }

    private void SendDamageRequest()
    {
        _resolverCommunicator.SendDamageInstance(_userStateController.DamageInstance).Wait();
    }

    private void UpdatePlayerState()
    {
        _resolverCommunicator.SendPlayerState(_userStateController.PlayerState).Wait();
    }

    private void UpdateGameOptions()
    {
        _resolverCommunicator.SendGameOptions(_userStateController.GameOptions).Wait();
    }

    private void UpdatePlayerOptions()
    {
        _resolverCommunicator.SendPlayerOptions(_userStateController.PlayerOptions).Wait();
    }

    private void SelectTab(ResolverTab resolverTab)
    {
        _selectedTab = resolverTab;
    }

    private async Task LeaveGame()
    {
        await _formServer.LeaveGame();
    }

    public void Dispose()
    {
        _userStateController.OnDataUpdated -= UpdatePlayerState;
        _userStateController.OnGameOptionsUpdated -= UpdateGameOptions;
        _userStateController.OnPlayerOptionsUpdated -= UpdatePlayerOptions;
        _userStateController.OnDamageRequestRequested -= SendDamageRequest;
        _hubConnection?.DisposeAsync();
    }
}
