@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject VisualStyleController _visualStyleController
@inject UserStateController _userStateController

<div class="resolver_div_componentcontainer">
    
    <div class="resolver_div_componentrow">
        <div class="resolver_div_unitid">
            @UnitEntry.Id
        </div>
    </div>
    
    <div class="resolver_div_componentrow">
            
        <div class="resolver_div_unit resolver_div_unitname resolver_div_componentcell mobile">
            @UnitEntry.Name
        </div>

        <div class="resolver_div_unit resolver_div_unitname resolver_div_componentcell desktop">
            @for (int ii = 0; ii < UnitEntry.Name.Length; ii++)
            {
                @UnitEntry.Name[ii]
                if (ii != UnitEntry.Name.Length - 1)
                {
                    <br />
                }
            }
        </div>
            
        <table class="resolver_div_unit resolver_div_componentcell">
            <tr class="resolver_tr_unitinformation">
                <td class="resolver_td_unitinformation_label">Gunnery/Piloting</td>
                <td class="resolver_td_unitinformation_data">@UnitEntry.Gunnery / @UnitEntry.Piloting</td>
            </tr>
            <tr class="resolver_tr_unitinformation">
                <td class="resolver_td_unitinformation_label">Type</td>
                <td class="resolver_td_unitinformation_data">@UnitEntry.Type</td>
            </tr>
            <tr class="resolver_tr_unitinformation" style="@(VisualStyleController.HideElement(_visualStyleController.GetTonnageHidden(UnitEntry.Type)))">
                <td class="resolver_td_unitinformation_label">Tonnage</td>
                <td class="resolver_td_unitinformation_data">@UnitEntry.Tonnage</td>
            </tr>
            <tr class="resolver_tr_unitinformation" style="@(VisualStyleController.HideElement(_visualStyleController.GetTroopersHidden(UnitEntry.Type)))">
                <td class="resolver_td_unitinformation_label">Troopers</td>
                <td class="resolver_td_unitinformation_data">@UnitEntry.Troopers</td>
            </tr>
            @if (UnitEntry.Features.Any())
            {
                <tr class="resolver_tr_unitinformation">
                    <td class="resolver_td_unitinformation_label">Features</td>
                    <td class="resolver_td_unitinformation_data">
                        @foreach (var feature in UnitEntry.Features)
                        {
                            <div class="resolver_div_unitinformation_data">
                                @($"{feature}")
                            </div>
                        }
                    </td>
                </tr>
            }
            <tr class="resolver_tr_unitinformation" style="@(VisualStyleController.HideElement(_visualStyleController.GetSinksHidden(UnitEntry.Type)))">
                <td class="resolver_td_unitinformation_label">Sinks</td>
                <td class="resolver_td_unitinformation_data">@UnitEntry.Sinks</td>
            </tr>
            <tr class="resolver_tr_unitinformation">
                <td class="resolver_td_unitinformation_label" colspan="2">
                    <div style="@(VisualStyleController.HideElement(!UnitEntry.Narced))" class="resolver_div_unitinformation_data">Narced</div>
                    <div style="@(VisualStyleController.HideElement(!UnitEntry.Tagged))" class="resolver_div_unitinformation_data">Tagged</div>
                </td>
            </tr>
            <tr class="resolver_tr_unitinformation">
                <td class="resolver_td_unitinformation_label">Movement</td>
                <td class="resolver_td_unitinformation_data">@UnitEntry.MovementClass - @UnitEntry.Movement</td>
            </tr>
            <tr class="resolver_tr_unitinformation">
                <td class="resolver_td_unitinformation_label">Stance</td>
                <td class="resolver_td_unitinformation_data">@UnitEntry.Stance</td>
            </tr>
            @if (UnitEntry.Narced || UnitEntry.Tagged)
            {
                <tr class="resolver_tr_unitinformation">
                    <td class="resolver_td_unitinformation_label">Conditions</td>
                    <td class="resolver_td_unitinformation_data">
                        @if (UnitEntry.Narced)
                        {
                            <div class="resolver_div_unitinformation_data">Narced</div>
                        }
                        @if (UnitEntry.Tagged)
                        {
                            <div class="resolver_div_unitinformation_data">Tagged</div>
                        }
                    </td>
                </tr>
            }
        </table>

        @foreach(var weaponBay in UnitEntry.WeaponBays)
        {
            <div class="resolver_div_unit resolver_div_componentcell">
                @weaponBay.Name
            </div>

            <table class="resolver_div_unit resolver_div_componentcell">
                <tr class="resolver_tr_unitinformation">
                    <td class="resolver_td_unitinformation_label">Target</td>
                    <td class="resolver_td_unitinformation_data">@_userStateController.GetUnitName(weaponBay.FiringSolution.Target)</td>
                </tr>
                <tr class="resolver_tr_unitinformation">
                    <td class="resolver_td_unitinformation_label">Modifier</td>
                    <td class="resolver_td_unitinformation_data">@weaponBay.FiringSolution.AttackModifier</td>
                </tr>
                <tr class="resolver_tr_unitinformation">
                    <td class="resolver_td_unitinformation_label">Distance</td>
                    <td class="resolver_td_unitinformation_data">@weaponBay.FiringSolution.Distance</td>
                </tr>
                <tr class="resolver_tr_unitinformation">
                    <td class="resolver_td_unitinformation_label">Facing</td>
                    <td class="resolver_td_unitinformation_data">@weaponBay.FiringSolution.Direction</td>
                </tr>
                <tr class="resolver_tr_unitinformation">
                    <td class="resolver_td_unitinformation_label">Cover</td>
                    <td class="resolver_td_unitinformation_data">@weaponBay.FiringSolution.Cover</td>
                </tr>
            </table>

            <table class="resolver_div_unit resolver_div_componentcell">
                <tr>
                    <td class="resolver_td_unitinformation_label" colspan="2">
                        <table>
                            @foreach (var weaponEntry in weaponBay.Weapons)
                            {
                                <ComponentWeaponEntry Unit=@UnitEntry WeaponEntry=@weaponEntry></ComponentWeaponEntry>
                            }
                        </table>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

@code
{
    [Parameter]
    public UnitEntry UnitEntry { get; set; }
}
