@inherits BaseFaemiyahComponent
@using Faemiyah.BtDamageResolver.Api.Enums
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject CommonData _commonData
@inject UserStateController _userStateController
@implements IDisposable

@{
    var targetNumberUpdate = _userStateController.GetTargetNumberUpdateSingleWeapon(Unit.Id, WeaponEntry.Id);
    var targetNumber = targetNumberUpdate?.TargetNumber <= 12 ? $"{targetNumberUpdate.TargetNumber}" : "N/A";
}

<tr class="resolver_tr_weaponentry @(WeaponEntry.State == WeaponState.Active ? "active" : string.Empty)">
    <td class="resolver_td_targetnumber">
        <b>@targetNumber</b>
    </td>
    <td>
        <div class="resolver_div_unitinformation_data">@($"{WeaponEntry.Amount}x")</div>
    </td>
    <td>
        <div class="resolver_div_unitinformation_data">@($"{(WeaponEntry.Modifier >= 0 ? "+" : string.Empty)}{WeaponEntry.Modifier}")</div>
    </td>
    <td>
        <div class="resolver_div_unitinformation_data">@WeaponEntry.WeaponName</div>
    </td>
    @{
        var ammoText = WeaponEntry?.Ammo == null ? "-" : WeaponEntry.Ammo;
    }
    <td>
        <div class="resolver_div_unitinformation_data">@ammoText</div>
    </td>
</tr>

@code
{
    [Parameter]
    public UnitEntry Unit { get; set; }

    [Parameter]
    public WeaponEntry WeaponEntry { get; set; }

    protected override void OnInitialized()
    {
        _userStateController.OnTargetNumbersUpdated += InvokeStateChange;
    }

    public void Dispose()
    {
        _userStateController.OnTargetNumbersUpdated -= InvokeStateChange;
    }
}
