@using System.Globalization
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Api.Enums
@using Faemiyah.BtDamageResolver.Api.Extensions
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject UserStateController _userStateController

<div class="resolver_div_componentrow">

    <div class="resolver_div_imagecontainer">
        @switch (DamagePaperDoll.Type)
        {
            case PaperDollType.AerospaceFighter:
                <FormPaperDollAerospaceFighter FormPaperDoll="@this" />
                break;
            case PaperDollType.AerospaceCapital:
                <FormPaperDollAerospaceCapital FormPaperDoll="@this" />
                break;
            case PaperDollType.AerospaceDropshipAerodyne:
                <FormPaperDollAerospaceDropshipAerodyne FormPaperDoll="@this" />
                break;
            case PaperDollType.AerospaceDropshipSpheroid:
                <FormPaperDollAerospaceDropshipSpheroid FormPaperDoll="@this" />
                break;
            case PaperDollType.Building:
                <FormPaperDollBuilding FormPaperDoll="@this" />
                break;
            case PaperDollType.Mech:
                <FormPaperDollMech FormPaperDoll="@this" />
                break;
            case PaperDollType.BattleArmor:
                <FormPaperDollBattleArmor FormPaperDoll="@this" DamageReport="@DamageReport" />
                break;
            case PaperDollType.Trooper:
                <FormPaperDollTrooper FormPaperDoll="@this" DamageReport="@DamageReport" />
                break;
            case PaperDollType.Vehicle:
                <FormPaperDollVehicle FormPaperDoll="@this" />
                break;
            case PaperDollType.VehicleVtol:
                <FormPaperDollVehicleVtol FormPaperDoll="@this" />
                break;
            default:
                <div class="error">Unknown paper doll type: @DamagePaperDoll.Type</div>
                break;
        }
    </div>

    <div class="resolver_div_damagereport">
        @foreach (var location in DamagePaperDoll.DamageCollection)
        {
            var damageInLocation = location.Value.SelectMany(l => l.Value).Sum();
            var criticalDamagePresent = DamagePaperDoll.DamageCollectionCritical.ContainsKey(location.Key);

            if (damageInLocation > 0 || criticalDamagePresent)
            {
                <div class="damageentry">
                    <b>@location.Key</b>
                    
                    @if (damageInLocation > 0)
                    {
                        <br />
                        @location.Value.SelectMany(l => l.Value).Sum()
                    }

                    @if (criticalDamagePresent)
                    {
                        foreach (var criticalDamageEntryList in DamagePaperDoll.DamageCollectionCritical[location.Key])
                        {
                            foreach (var criticalDamageEntry in criticalDamageEntryList.Value)
                            {
                                <br />

                                if (DamageReport.FiringUnitIds.Count > 1 && DamageReport.FiringUnitNames.ContainsKey(criticalDamageEntryList.Key))
                                {
                                    @(DamageReport.FiringUnitNames[criticalDamageEntryList.Key] + " — ")
                                }

                                switch (criticalDamageEntry.Type)
                                {
                                    case CriticalDamageType.Critical:
                                        @("Critical hit")
                                        break;
                                    case CriticalDamageType.Immobilized:
                                        @("Immobilized")
                                        break;
                                    case CriticalDamageType.HeavyMotive:
                                        @("Heavy motive damage")
                                        break;
                                    case CriticalDamageType.LightMotive:
                                        @("Light motive damage")
                                        break;
                                    case CriticalDamageType.ModerateMotive:
                                        @("Moderate motive damage")
                                        break;
                                    case CriticalDamageType.LimbBlownOff:
                                        @("Limb blown off")
                                        break;
                                    default:
                                        switch (criticalDamageEntry.ThreatType)
                                        {
                                            case CriticalThreatType.DamageThreshold:
                                                @($"Critical threat to: {criticalDamageEntry.Type} (Threshold {criticalDamageEntry.InducingDamage})")
                                                break;
                                            case CriticalThreatType.Normal:
                                                @($"Critical damage to: {criticalDamageEntry.Type} ({criticalDamageEntry.InducingDamage})")
                                                break;
                                            default:
                                                @($"Unknown critical threat type: {criticalDamageEntry.ThreatType}")
                                                break;
                                        }

                                        break;
                                }
                            }
                        }
                    }
                </div>
            }
        }

        @foreach (var specialDamageEntryGroup in DamagePaperDoll.DamageCollectionSpecial.SelectMany(p => p.Value).SelectMany(p => p.Value).GroupBy(s => s.Type))
        {
            if (specialDamageEntryGroup.Key == SpecialDamageType.PilotingSkillRoll)
            {
                foreach (var value in specialDamageEntryGroup)
                {
                    <div class="damageentry">
                        <b>
                            @specialDamageEntryGroup.Key
                        </b>
                        &rarr;
                        <b>
                            @(int.TryParse(value.Data, out var parsedValue) ? parsedValue.ToStringExplicit() : value.Data)
                        </b>
                    </div>
                }
            }
            else {
                <div class="damageentry">
                    <b>
                        @specialDamageEntryGroup.Key
                    </b>
                    &rarr;
                    <b>
                        @specialDamageEntryGroup.Sum(s => int.TryParse(s.Data, out var v) ? v : 0)
                    </b>
                </div>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public DamagePaperDoll DamagePaperDoll { get; set; }

    [Parameter]
    public DamageReport DamageReport { get; set; }

    public bool AnyDamage(Location location)
    {
        return DamagePaperDoll.DamageCollection.ContainsKey(location);
    }

    public string GetDamageText(Location location)
    {
        if(DamagePaperDoll.DamageCollection.ContainsKey(location))
        {
            if (DamageReport.FiringUnitIds.Count > 1)
            {
                var damageOwnerPairs =
                    DamagePaperDoll.DamageCollection[location]
                        .SelectMany(kvp => kvp.Value.Select(Damage => (kvp.Key, Damage)))
                        .ToList();

                return $"'<b>{location}</b><br>{string.Join("<br>", damageOwnerPairs.Select(dop => $"{DamageReport.FiringUnitNames[dop.Key]} — {dop.Damage}"))}'";
            }
            else
            {
                return $"'<b>{location}</b><br>{string.Join("<br>", DamagePaperDoll.DamageCollection[location].SelectMany(dc => dc.Value))}'";
            }
        }

        return $"'<b>{location}</b><br>0'";
    }

    public string GetDamageColor(Location location)
    {
        if (DamagePaperDoll.DamageCollection.ContainsKey(location))
        {
            var damage = DamagePaperDoll.DamageCollection[location].SelectMany(l => l.Value).Sum();

            if (damage > 0)
            {
                return TranslateDamageToColor(damage);
            }
        }

        return "#E5E5E5";
    }

    private static string TranslateDamageToColor(int damage)
    {
        const decimal damageScalingMax = 100;

        var scaledDamage = Math.Clamp(damage, 0m, damageScalingMax);

        var red = decimal.ToInt32(Math.Clamp((2*damageScalingMax - scaledDamage * 2) / damageScalingMax, 0m, 1m)*255m).ToString("X2", NumberFormatInfo.InvariantInfo);
        var white = decimal.ToInt32(Math.Clamp((damageScalingMax - scaledDamage * 2) / damageScalingMax, 0m, 1m)*255m).ToString("X2", NumberFormatInfo.InvariantInfo);

        return $"#{red}{white}{white}";
    }
}