@inherits BaseFaemiyahComponent
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Api.Enums
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject CommonData _commonData
@inject UserStateController _userStateController
@implements IDisposable

@if(_userStateController.IsConnectedToGame)
{
    <div class="resolver_div_componentgroup">
        <div class="resolver_div_componentrow" style="@VisualStyleController.HideElement(UnitEntry.WeaponBays.Count <= 1)">
            <div class="resolver_div_componentcell">
                @if (UnitEntry.StaticDataHidden)
                {
                    <b>@WeaponBay.GetFormalName()</b>
                }
                else
                {
                    <FormText @key=@($"{WeaponBay.Id}_Name") SelectedOption="@WeaponBay.Name" OnChanged="@OnNameChanged" Disabled="@_userStateController.PlayerState.IsReady"></FormText>
                }
            </div>
            <div class="resolver_div_componentcell" style="@VisualStyleController.HideElement(UnitEntry.StaticDataHidden)">
                <button class="resolver_button resolver_button_delete" disabled="@Disabled" @onclick="DeleteWeaponBay">X</button>
            </div>
        </div>
        <div class="resolver_div_componentrow no-subgrid" style="@(VisualStyleController.HideElement(UnitEntry.StaticDataHidden || UnitEntry.WeaponBays.Count <= 1))">
            <div class="resolver_div_componentcell">Arc</div>
            <div class="resolver_div_componentcell">
                <FormRadio Options="@_commonData.FormMapArc(UnitEntry.Type)" SelectedOption="@WeaponBay.Arc" Disabled="@_userStateController.PlayerState.IsReady" ComparisonTimeStamp="@_userStateController.ComparisonTime" OnChanged="(Arc arc) => OnArcChanged(arc)"></FormRadio>
            </div>
        </div>

        <ContainerReorderableList Items="@WeaponBay.Weapons" OnChanged="@OnUpdated" ContainerClass="resolver_div_weaponentrylist" ItemClass="resolver_div_weaponentry" ItemClassSelector="@(w => w.State == WeaponState.Active ? "active" : "inactive")">
            <ItemTemplate Context="weaponEntry">
                <FormWeaponEntry @key="@weaponEntry.Id" WeaponEntry="@weaponEntry" UnitEntry="@UnitEntry" WeaponBay="@WeaponBay" Disabled="@_userStateController.PlayerState.IsReady" OnUpdated="@OnUpdated" OnDeleted="@OnWeaponDeleted" />
            </ItemTemplate>
        </ContainerReorderableList>

        <div style="@VisualStyleController.HideElement(UnitEntry.StaticDataHidden)">
            <button class="resolver_button resolver_button_add" disabled="@_userStateController.PlayerState.IsReady" @onclick="AddWeapon">+Weapon</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public UnitEntry UnitEntry { get; set; }

    [Parameter]
    public WeaponBay WeaponBay { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback<WeaponBay> OnDeleted { get; set; }

    [Parameter]
    public EventCallback OnUpdated { get; set; }

    protected override void OnInitialized()
    {
        _userStateController.OnPlayerUnitListUpdated += InvokeStateChange;
    }

    public void AddWeapon()
    {
        var weaponToAdd = WeaponBay.Weapons.LastOrDefault();

        if (weaponToAdd != null)
        {
            WeaponBay.Weapons.Add(weaponToAdd.Copy());
        }
        else
        {
            WeaponBay.Weapons.Add(CommonData.GetDefaultWeapon(UnitEntry.Type));
        }

        OnUpdated.InvokeAsync();
    }

    public void DeleteWeaponBay()
    {
        OnDeleted.InvokeAsync(WeaponBay);
    }

    #region Property changing delegates

    private void OnArcChanged(Arc arc)
    {
        if (WeaponBay.Arc != arc)
        {
            WeaponBay.Arc = arc;
            OnUpdated.InvokeAsync();
        }
    }

    private void OnNameChanged(string name)
    {
        if (WeaponBay.Name != name)
        {
            WeaponBay.Name = name;
            OnUpdated.InvokeAsync();
        }
    }

    private void OnWeaponDeleted(WeaponEntry weaponEntry)
    {
        WeaponBay.Weapons.Remove(weaponEntry);
        OnUpdated.InvokeAsync();
    }

    #endregion

    public void Dispose()
    {
        _userStateController.OnPlayerUnitListUpdated -= InvokeStateChange;
    }
}
