@inherits BaseFaemiyahComponent
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject UserStateController _userStateController

@{
    var combinedDamageReport = DamageReports[0].BlankCopy();

    foreach (var damageReport in DamageReports)
    {
        combinedDamageReport.Merge(damageReport);
    }
}

@if (DamageReports.Count > 1)
{
    <div class="resolver_div_damagereportgroup">
        <div class="resolver_div_damagereportgroupheader">
            <span>@DamageReports[0].TargetUnitName &mdash; @DamageReports[0].Phase &mdash; @DamageReports.Count attacks</span>
            <button class="resolver_button" @onclick="@(() => _combined = !_combined)">
                @(_combined ? "Split ▶" : "Combine ▼")
            </button>
        </div>
        @if (_combined)
        {
            <FormDamageReport DamageReport=@combinedDamageReport></FormDamageReport>
        }
        else
        {
            <div class="resolver_div_damagereportgroupcontent">
                @foreach (var damageReport in DamageReports)
                {
                    <FormDamageReport DamageReport=@damageReport></FormDamageReport>
                }
            </div>
        }
    </div>
}
else
{
    <FormDamageReport DamageReport=@DamageReports[0]></FormDamageReport>
}

@code
{
    private bool _combined;

    [Parameter]
    public List<DamageReport> DamageReports { get; set; }

    protected override void OnParametersSet()
    {
        _combined = _userStateController.PlayerOptions?.ShowCombinedDamageReports ?? false;
    }
}
