@inherits BaseFaemiyahComponent
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Api.Enums
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject UserStateController _userStateController

@{
    var attackingUnitOwnedByYou = _userStateController.PlayerState.UnitEntries.Exists(u => DamageReport.FiringUnitIds.Contains(u.Id));
    var defendingUnitOwnedByYou = _userStateController.PlayerState.UnitEntries.Exists(u => u.Id == DamageReport.TargetUnitId);

    string unitAttackString = null;
    string unitDefenseString;

    if (DamageReport.FiringUnitIds.Count <= 1)
    {
        if (DamageReport.FiringUnitIds.SingleOrDefault() == Guid.Empty)
        {
            unitAttackString = "N/A";
        }
        else
        {
            if (!_userStateController.UnitList.ContainsKey(DamageReport.TargetUnitId))
            {
                unitAttackString = "Unknown unit (Unknown player)";
            }
            else
            {
                unitAttackString = attackingUnitOwnedByYou ?
                    $"{DamageReport.FiringUnitNames[DamageReport.FiringUnitIds.Single()]}" :
                    $"{DamageReport.FiringUnitNames[DamageReport.FiringUnitIds.Single()]} ({_userStateController.UnitList[DamageReport.FiringUnitIds.Single()].PlayerId})";
            }
        }
    }
    else 
    {
        unitAttackString = "Multiple attackers";
    }

    if (!_userStateController.UnitList.ContainsKey(DamageReport.TargetUnitId))
    {
        unitDefenseString = "Unknown unit (Unknown player)";
    }
    else
    {
        unitDefenseString = defendingUnitOwnedByYou ?
            $"{DamageReport.TargetUnitName}" :
            $"{DamageReport.TargetUnitName} ({_userStateController.UnitList[DamageReport.TargetUnitId].PlayerId})";
    }
}

<div class="resolver_div_componentcontainer resolver_div_damagereportcontainer @(defendingUnitOwnedByYou ? "incomingdamage" : "outgoingdamage")">
    
        <div class="resolver_div_componentrow">
            <div class="resolver_div_componentcell resolver_div_damagereportheader">
                <b>
                    @unitAttackString
                </b>
                &rArr;
                <b>
                    @unitDefenseString
                </b>
            </div>
            <div class="resolver_div_componentcell resolver_style_alignright">
                <button class="resolver_button resolver_button_delete" @onclick="Delete">X</button>
            </div>
        </div>
         
        <div class="resolver_div_componentrow">
            <div class="resolver_div_phase">
                Phase: <b>@DamageReport.Phase</b>
            </div>
        </div>
        
        <div class="resolver_div_componentrow">
            <div class="resolver_div_totaldamage">
                Total damage to target: @DamageReport.DamagePaperDoll.DamageCollection.SelectMany(dc => dc.Value.SelectMany(l => l.Value)).Sum()
            </div>
        </div>

        <FormPaperDoll DamagePaperDoll="@DamageReport.DamagePaperDoll" DamageReport="@DamageReport"></FormPaperDoll>
        
        @foreach (var firingUnitId in DamageReport.FiringUnitIds)
        {
            @switch (_userStateController.GetUnitType(firingUnitId))
            {
                case UnitType.AerospaceFighter:
                case UnitType.Mech:
                case UnitType.MechTripod:
                case UnitType.MechQuad:
                    <div class="resolver_div_componentrow">
                        <div class="resolver_div_attackerheat">
                            @if (DamageReport.FiringUnitIds.Count > 1)
                            {
                                <b>Attacker heat (@DamageReport.FiringUnitNames[firingUnitId]):</b>
                            }
                            else
                            {
                                <b>Attacker heat:</b> 
                            }
                            @DamageReport.ConsumablesAttackers[firingUnitId].Heat
                        </div>
                    </div>
                    break;
            }
        }
        
        @foreach (var firingUnitId in DamageReport.FiringUnitIds)
        {
            @if (DamageReport.ConsumablesAttackers.TryGetValue(firingUnitId, out var attackerConsumables) && attackerConsumables.AmmoUsage.Any())
            {
                <div class="resolver_div_componentrow">
                    @foreach (var ammoExpenditureItem in attackerConsumables.AmmoUsage)
                    {
                        <div class="resolver_div_ammo">
                            @if (DamageReport.FiringUnitIds.Count > 1)
                            {
                                <b>Attacker (@DamageReport.FiringUnitNames[firingUnitId]) spent @ammoExpenditureItem.Key:</b>
                            }
                            else
                            {
                                <b>Attacker spent @ammoExpenditureItem.Key:</b>
                            }
                            @ammoExpenditureItem.Value
                        </div>
                    }
                </div>
            }
        }
        
        @if (DamageReport.ConsumablesDefender.AmmoUsage.Any())
        {
            <div class="resolver_div_componentrow">
                @foreach (var ammoExpenditureItem in DamageReport.ConsumablesDefender.AmmoUsage)
                {
                    <div class="resolver_div_ammo">
                        Defender <b>@ammoExpenditureItem.Key</b> ammo spent: <b>@ammoExpenditureItem.Value</b>
                    </div>
                }
            </div>
        }

    <div class="resolver_div_componentrow">
        <ContainerAccordion Enabled="@_attackLogVisible" Title="Attack log">
            <div class="resolver_div_options">
                @foreach (var attackLogEntryType in _logLineVisibility)
                {
                    <FormCheckbox Checked="@attackLogEntryType.Value" OnChanged="@(e => OnAttackLogEntryVisibilityChanged(attackLogEntryType.Key, e))">@attackLogEntryType.Key</FormCheckbox>
                }
            </div>

            @foreach (var logLine in DamageReport.AttackLog.Log)
            {
                <div class="@($"resolver_div_attacklog_{logLine.Type.ToString().ToLowerInvariant()}")" style="@VisualStyleController.HideElement(!_logLineVisibility[logLine.Type])">
                    @logLine.ToString()
                </div>
            }
        </ContainerAccordion>
    </div>
</div>

@code
{
    private Dictionary<AttackLogEntryType, bool> _logLineVisibility;
    private bool _attackLogVisible;

    [Parameter]
    public DamageReport DamageReport { get; set; }

    protected override void OnInitialized()
    {
        _attackLogVisible = _userStateController.PlayerOptions?.ShowAttackLogByDefault ?? false;
        _logLineVisibility = _userStateController.GetAttackLogEntryVisibilityCopy();
        _userStateController.OnDamageReportsUpdated += InvokeStateChange;
    }

    public void Delete()
    {
        _userStateController.DamageReportContainer.Remove(DamageReport);
        _userStateController.NotifyDamageReportsChanged();
    }

    private void OnAttackLogEntryVisibilityChanged(AttackLogEntryType attackLogEntryType, bool entryVisibility)
    {
        if (_logLineVisibility[attackLogEntryType] != entryVisibility)
        {
            _logLineVisibility[attackLogEntryType] = entryVisibility;
            InvokeStateChange();
        }
    }
}