@using Faemiyah.BtDamageResolver.Api.Enums
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject CommonData _commonData
@inject VisualStyleController _visualStyleController
@inject UserStateController _userStateController
@implements IDisposable

@{
    var targetNumberUpdate = _userStateController.GetTargetNumber(WeaponEntry.Id);
    var calculationLog = GetTargetNumberText(targetNumberUpdate?.CalculationLog, false);
    var targetNumber = targetNumberUpdate?.TargetNumber <= 12 ? $"{targetNumberUpdate.TargetNumber}" : "N/A";
    var mapWeaponAmmo = _commonData.FormMapWeaponAmmo(WeaponEntry.WeaponName);
    
    if(WeaponEntry.Ammo == null || !mapWeaponAmmo.ContainsKey(WeaponEntry.Ammo))
    {
        WeaponEntry.Ammo = _commonData.GetWeaponDefaultAmmo(WeaponEntry.WeaponName);
    }
}

<tr class="resolver_tr_weaponentry @(WeaponEntry.State == WeaponState.Active ? "active" : string.Empty)">
    <td class="resolver_td_targetnumber draggable" draggable="true" @ondrag="@(()=> StartDrag(WeaponEntry))" @ondrop="@(()=> Drop(WeaponEntry))" onmousemove="ShowTooltip(event, 'resolver_tooltip_targetnumber', @calculationLog);" onmouseout="HideTooltip('resolver_tooltip_targetnumber');">
        <b>@targetNumber</b>
    </td>
    <td>
        <FormToggle Checked="@(WeaponEntry.State == WeaponState.Active)" Disabled="@Disabled" ComparisonTimeStamp="@(Unit.Ready ? DateTime.MinValue : _userStateController.GameState.TurnTimeStamp)" OnChanged="@OnWeaponStateChanged">@(WeaponEntry.State == WeaponState.Active ? "Active" : "Inactive")</FormToggle>
    </td>
    <td class="resolver_td_weaponname">
        @if (Unit.StaticDataHidden)
        {
            <b>@WeaponEntry.WeaponName</b>
        }
        else
        {
            <FormComboBox Options="@_commonData.FormMapWeaponName(Unit.Type)" SelectedOption="@WeaponEntry.WeaponName" Disabled="@Disabled" OnChanged="(string weaponName) => OnWeaponNameChanged(weaponName)"></FormComboBox>
        }
    </td>
    <td>
        @if (_commonData.WeaponHasAmmo(WeaponEntry.WeaponName))
        {
            <FormComboBox Options="@mapWeaponAmmo" SelectedOption="@WeaponEntry.Ammo" Disabled="@Disabled" OnChanged="(string ammoName) => OnWeaponAmmoChanged(ammoName)"></FormComboBox>
        }
    </td>
    <td>
        <button class="resolver_button" disabled="@Disabled" @onclick="MoveUp"><b>&uarr;</b></button>
        <button class="resolver_button" disabled="@Disabled" @onclick="MoveDown"><b>&darr;</b></button>
    </td>
    <td style="@VisualStyleController.HideElement(Unit.StaticDataHidden)">
        <button class="resolver_button resolver_button_delete" disabled="@Disabled" @onclick="DeleteWeapon">X</button>
    </td>
</tr>

@code
{
    private string _weaponAmmo;
    private WeaponState _weaponState;
    private string _weaponName;

    [Parameter]
    public WeaponEntry WeaponEntry { get; set; }

    [Parameter]
    public UnitEntry Unit { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback<WeaponEntry> OnChanged { get; set; }

    [Parameter]
    public EventCallback<WeaponEntry> OnDeleted { get; set; }

    [Parameter]
    public EventCallback<(int draggedIndex, int targetIndex)> OnSwap { get; set; }

    protected override void OnInitialized()
    {
        // Necessary to set this way, because otherwise disabling the controls may emit null or incorrect values upwards.
        _weaponAmmo = WeaponEntry.Ammo;
        _weaponState = WeaponEntry.State;
        _weaponName = WeaponEntry.WeaponName;
        _userStateController.OnTargetNumbersUpdated += StateHasChanged;
    }

    private void DeleteWeapon()
    {
        OnDeleted.InvokeAsync(WeaponEntry);
    }

    private void UpdateWeaponEntry()
    {
        var anythingChanged = false;

        if (WeaponEntry.WeaponName != _weaponName)
        {
            WeaponEntry.WeaponName = _weaponName;
            anythingChanged = true;
        }
        if (WeaponEntry.Ammo != _weaponAmmo)
        {
            WeaponEntry.Ammo = _weaponAmmo;
            anythingChanged = true;
        }
        if (WeaponEntry.State != _weaponState)
        {
            WeaponEntry.State = _weaponState;
            anythingChanged = true;
        }

        if (anythingChanged)
        {
            WeaponEntry.TimeStamp = DateTime.UtcNow;
            OnChanged.InvokeAsync(WeaponEntry);
        }
    }

    private void OnWeaponAmmoChanged(string ammo)
    {
        _weaponAmmo = ammo;
        UpdateWeaponEntry();
    }

    private void OnWeaponNameChanged(string name)
    {
        _weaponName = name;
        UpdateWeaponEntry();
    }

    private void OnWeaponStateChanged(bool state)
    {
        _weaponState = state ? WeaponState.Active : WeaponState.Inactive;
        UpdateWeaponEntry();
    }

    public void MoveUp()
    {
        var index = Unit.Weapons.IndexOf(WeaponEntry);

        if (index >= 1)
        {
            OnSwap.InvokeAsync((index - 1, index));
        }
    }

    public void MoveDown()
    {
        var index = Unit.Weapons.IndexOf(WeaponEntry);

        if (index < Unit.Weapons.Count - 1)
        {
            OnSwap.InvokeAsync((index, index + 1));
        }
    }

    #region dragdrop

    void StartDrag(WeaponEntry weaponEntry)
    {
        _userStateController.DraggedUnitIndex = _userStateController.PlayerState.UnitEntries.IndexOf(Unit);
        _userStateController.DraggedWeaponIndex = _userStateController.PlayerState.UnitEntries[_userStateController.DraggedUnitIndex].Weapons.IndexOf(weaponEntry);
    }

    void Drop(WeaponEntry weaponEntry)
    {
        if (weaponEntry != null)
        {
            var unitIndex = _userStateController.PlayerState.UnitEntries.IndexOf(Unit);

            if (unitIndex == _userStateController.DraggedUnitIndex)
            {
                var targetWeaponIndex = _userStateController.PlayerState.UnitEntries[unitIndex].Weapons.IndexOf(weaponEntry);
                OnSwap.InvokeAsync((_userStateController.DraggedWeaponIndex, targetWeaponIndex));
            }
        }
    }

    #endregion

    private string GetTargetNumberText(AttackLog attackLog, bool showAllLines)
    {
        if (attackLog != null && attackLog.Log.Any())
        {
            return $"'{attackLog.Log.Where(entry => showAllLines || entry.Number != 0).Aggregate(string.Empty, (current, entry) => current + (entry + "<br>"))}'";
        }

        return "'No target number calculation log available.'";
    }

    public void Dispose()
    {
        _userStateController.OnTargetNumbersUpdated -= StateHasChanged;
    }
}
