@inherits BaseFaemiyahComponent
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Api.Entities.RepositoryEntities
@using Faemiyah.BtDamageResolver.Api.Enums
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Entities
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject CommonData _commonData
@inject UserStateController _userStateController
@implements IDisposable

@{
    var targetingText = UnitEntry.WeaponBays.Count > 1 ? WeaponBay.GetFormalName() : "Targeting Parameters";
}

@if(_userStateController.IsConnectedToGame)
{
    <div class="resolver_div_componentrow">
        <div class="resolver_div_componentgroup">
            <div class="resolver_div_componentrow">
                <div class="resolver_div_componentcell"><b>@targetingText</b></div>
            </div>
            <div class="resolver_div_componentrow">
                <div class="resolver_div_componentcell">Target</div>
                <div class="resolver_div_componentcell">
                    <FormComboBox @key=@($"{WeaponBay.Id}_Target_{_userStateController.UnitListHash}") EnableErrorDisplay="true" Options="@_userStateController.GetTargetsForUnit(UnitEntry.Id)" SelectedOption="@WeaponBay.FiringSolution.Target" Disabled="@_userStateController.PlayerState.IsReady" ComparisonTimeStamp="@_userStateController.ComparisonTime" OnChanged="(Guid unitId) => OnTargetChanged(unitId)"></FormComboBox>
                </div>
            </div>
            <div class="resolver_div_componentrow" style="@(VisualStyleController.HideElement(UnitEntry.WeaponBays.Count <= 1 || VisualStyleController.GetRelativeArcHidden(_userStateController.GetUnitType(WeaponBay.FiringSolution.Target))))">
                <div class="resolver_div_componentcell">Relative arc</div>
                <div class="resolver_div_componentcell">
                    <FormRadio @key=@($"{WeaponBay.Id}_RelativeArc") Options="@_commonData.FormMapArc(UnitEntry.Type)" SelectedOption="@WeaponBay.FiringSolution.RelativeArc" Disabled="@_userStateController.PlayerState.IsReady" ComparisonTimeStamp="@_userStateController.ComparisonTime" OnChanged="(Arc relativeArc) => OnRelativeArcChanged(relativeArc)"></FormRadio>
                </div>
            </div>
            <div class="resolver_div_componentrow">
                <div class="resolver_div_componentcell">Distance</div>
                <div class="resolver_div_componentcell">
                    <FormNumberPicker @key=@($"{WeaponBay.Id}_Distance") BracketCreatorDelegate="@(() => _commonData.FormPickBracketsDistance(WeaponBay, UnitEntry.Type))" SelectedOption="@WeaponBay.FiringSolution.Distance" Min="0" Max="50" Disabled="@(_userStateController.PlayerState.IsReady || !WeaponBay.Weapons.Any())" ComparisonTimeStamp="@_userStateController.ComparisonTime" OnChanged="@OnDistanceChanged"></FormNumberPicker>
                </div>
            </div>
            <div class="resolver_div_componentrow">
                <div class="resolver_div_componentcell">Modifier</div>
                <div class="resolver_div_componentcell resolver_div_componentcell_content">
                    <FormRadio @key=@($"{WeaponBay.Id}_Modifier") Options="@_commonData.MapAttackModifier" SelectedOption="@WeaponBay.FiringSolution.AttackModifier" Disabled="@_userStateController.PlayerState.IsReady" ComparisonTimeStamp="@_userStateController.ComparisonTime" OnChanged="(int attackModifier) => OnAttackModifierChanged(attackModifier)"></FormRadio>
                </div>
            </div>
            <div class="resolver_div_componentrow" style="@(VisualStyleController.HideElement(VisualStyleController.GetDirectionHidden(_userStateController.GetUnitType(WeaponBay.FiringSolution.Target))))">
                <div class="resolver_div_componentcell">Direction</div>
                <div class="resolver_div_componentcell">
                    <FormRadio @key=@($"{WeaponBay.Id}_Facing") Options="@_commonData.MapFacing" SelectedOption="@WeaponBay.FiringSolution.Direction" Disabled="@_userStateController.PlayerState.IsReady" ComparisonTimeStamp="@_userStateController.ComparisonTime" OnChanged="(Direction direction) => OnDirectionChanged(direction)"></FormRadio>
                </div>
            </div>
            <div class="resolver_div_componentrow" style="@(VisualStyleController.HideElement(VisualStyleController.GetCoverHidden(_userStateController.GetUnitType(WeaponBay.FiringSolution.Target))))">
                <div class="resolver_div_componentcell">Cover</div>
                <div class="resolver_div_componentcell">
                    <FormRadio @key=@($"{WeaponBay.Id}_Cover") Options="@CommonData.FormMapCover(_userStateController.GetUnitType(WeaponBay.FiringSolution.Target))" SelectedOption="@WeaponBay.FiringSolution.Cover" Disabled="@_userStateController.PlayerState.IsReady" ComparisonTimeStamp="@_userStateController.ComparisonTime" OnChanged="(Cover cover) => OnCoverChanged(cover)"></FormRadio>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public UnitEntry UnitEntry { get; set; }

    [Parameter]
    public WeaponBay WeaponBay { get; set; }

    [Parameter]
    public EventCallback OnChanged { get; set; }

    protected override void OnInitialized()
    {
        _userStateController.OnGameUnitListUpdated += InvokeStateChange;
    }

    private void SendUpdate()
    {
        UnitEntry.TimeStamp = DateTime.UtcNow;
        _userStateController.NotifyPlayerDataUpdated();
    }

    private void OnTargetChanged(Guid target)
    {
        if (WeaponBay.FiringSolution.Target != target)
        {
            WeaponBay.FiringSolution.Target = target;
            SendUpdate();
        }
    }

    private void OnRelativeArcChanged(Arc relativeArc)
    {
        if (WeaponBay.FiringSolution.RelativeArc != relativeArc)
        {
            WeaponBay.FiringSolution.RelativeArc = relativeArc;
            SendUpdate();
        }
    }

    private void OnDistanceChanged(int distance)
    {
        if (WeaponBay.FiringSolution.Distance != distance)
        {
            WeaponBay.FiringSolution.Distance = distance;
            SendUpdate();
        }
    }

    private void OnAttackModifierChanged(int penalty)
    {
        if (WeaponBay.FiringSolution.AttackModifier != penalty)
        {
            WeaponBay.FiringSolution.AttackModifier = penalty;
            SendUpdate();
        }
    }

    private void OnDirectionChanged(Direction direction)
    {
        if (WeaponBay.FiringSolution.Direction != direction)
        {
            WeaponBay.FiringSolution.Direction = direction;
            SendUpdate();
        }
    }

    private void OnCoverChanged(Cover cover)
    {
        if (WeaponBay.FiringSolution.Cover != cover)
        {
            WeaponBay.FiringSolution.Cover = cover;
            SendUpdate();
        }
    }

    public void Dispose()
    {
        _userStateController.OnGameUnitListUpdated -= InvokeStateChange;
    }
}
